:root {
  --basic-dark-colour: #1d1f2e;
  --brown-main: #a25f4b;
  --line-colour: #ececed;
  --light-grey: #fafafa;
  --white: white;
  --black: black;
}

.dark {
  --basic-dark-colour: #1d1f2e;
  --brown-main: #a25f4b;
  --line-colour: #ececed;
  --light-grey: #fafafa;
  --white: black;
  --black: white;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: var(--basic-dark-colour);
  font-family: Karla, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

h1 {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
}

h3 {
  align-self: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

h4 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

p {
  color: #1d1f2eb3;
  margin-bottom: 15px;
}

a {
  color: var(--brown-main);
  border-bottom: 1px #a25f4b4d;
  text-decoration: none;
  transition: color 0.4s, border 0.4s;
  display: inline-block;
}

a:hover {
  color: #743f2f;
  border-bottom-color: #a25f4bcc;
}

ul {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 18px;
  list-style-type: none;
  display: flex;
}

img {
  max-width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  display: inline-block;
}

label {
  color: #1d1f2e99;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  display: block;
}

blockquote {
  border-top: 1px none var(--line-colour);
  color: var(--brown-main);
  text-align: center;
  background-color: #0000;
  border-bottom: 2px solid #a25f4b33;
  border-left: 2px solid #a25f4b33;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 35px;
  font-size: 20px;
  line-height: 32px;
  display: block;
}

figcaption {
  color: #1d1f2e80;
  text-align: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 18px;
  display: block;
}

.white-button {
  z-index: 50;
  color: var(--basic-dark-colour);
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #fff;
  border-bottom-style: none;
  border-radius: 8px;
  justify-content: center;
  padding: 18px 24px;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
  transition: background-color 0.4s, opacity 0.4s, box-shadow 0.4s;
  display: inline-block;
  position: relative;
  box-shadow: 0 2px 6px #1d1f2e1a;
}

.white-button:hover {
  background-color: var(--light-grey);
  opacity: 0.96;
  color: #161724;
  box-shadow: 0 3px 8px #1d1f2e26;
}

.label {
  opacity: 0.6;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  display: block;
  position: static;
}

.label.cc-subheadline {
  margin-left: 15px;
  margin-right: 15px;
}

.label.cc-product-details {
  margin-bottom: 20px;
}

.label.cc-office-location {
  margin-bottom: 10px;
}

.label.cc-office-times {
  margin-top: 25px;
  margin-bottom: 10px;
}

.label.cc-contact-form-label {
  margin-bottom: 10px;
}

.label.cc-cover-label {
  opacity: 0.8;
}

.label.cc-blog-post-categories-related {
  margin-top: 20px;
}

.label.cc-blog-date {
  margin-bottom: 0;
}

.label.cc-breadcrumb-divider {
  opacity: 1;
  color: #1d1f2e33;
  border-bottom: 2px solid #0000;
  margin-bottom: 0;
  margin-left: 6px;
  margin-right: 6px;
  display: inline-block;
}

.label.cc-breadcrumb-divider:hover {
  opacity: 0.8;
}

.label.cc-quote-author {
  opacity: 0.3;
}

.label.cc-breadcrumb-link {
  cursor: pointer;
  border-bottom: 2px solid #a25f4b4d;
  margin-bottom: 0;
  transition: color 0.4s, border 0.4s, opacity 0.4s;
}

.label.cc-breadcrumb-link:hover {
  opacity: 1;
  border-bottom: 2px solid #a25f4b4d;
}

.label.cc-breadcrumb-link.w--current {
  opacity: 0.6;
  border-bottom-color: #0000;
  margin-left: 0;
}

.label.cc-breadcrumb-link.w--current:hover {
  opacity: 1;
  border-bottom-color: #a25f4b4d;
}

.label.cc-breadcrumb-link.cc-category-tag {
  border-bottom-style: solid;
  border-bottom-color: #0000;
}

.label.cc-breadcrumb-link.cc-category-tag:hover {
  border-bottom-color: #a25f4b4d;
}

.label.cc-category-link {
  border: 1px solid var(--line-colour);
  opacity: 1;
  color: #a25f4b99;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px 16px;
  transition: color 0.4s, border 0.4s, opacity 0.4s;
}

.label.cc-category-link:hover {
  opacity: 1;
  color: var(--brown-main);
  border: 1px solid #a25f4b4d;
}

.label.cc-category-link.w--current {
  opacity: 1;
  color: var(--brown-main);
  border-color: #a25f4b66;
  margin-left: 5px;
}

.paragraph {
  color: #1d1f2eb3;
}

.paragraph.cc-empty-cart {
  color: #ffffffb3;
  margin-bottom: 30px;
  line-height: 16px;
}

.paragraph.cc-deparment-details {
  align-self: start;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.paragraph.cc-premium-block-paragraph {
  color: #ffffffb3;
}

.small-paragraph {
  align-self: auto;
  font-size: 14px;
  line-height: 22px;
}

.small-paragraph.cc-copyright-footer {
  color: #1d1f2e4d;
  align-self: end;
  margin-bottom: 10px;
}

.small-paragraph.cc-copyright-footer:hover {
  color: var(--brown-main);
  align-self: end;
}

.menu-item {
  color: var(--basic-dark-colour);
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
  position: relative;
}

.menu-item-wrap {
  opacity: 0.6;
  cursor: pointer;
  align-items: center;
  margin-right: 30px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-decoration: none;
  transition: opacity 0.4s;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.menu-item-wrap:hover,
.menu-item-wrap.w--current {
  opacity: 1;
}

.menu-item-deco-line {
  opacity: 0;
  background-color: #a25f4b4d;
  align-items: center;
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.content {
  display: block;
  position: relative;
  overflow: hidden;
}

.content.cc-overlayed-content {
  margin-bottom: -110px;
  top: -110px;
}

.content.cc-subscribe-form {
  padding-left: 30px;
  padding-right: 30px;
}

.content.cc-styleguide-content {
  margin-bottom: -100px;
  bottom: 100px;
}

.content.cc-deco-block-wrap,
.content.cc-blog-wrap {
  padding-left: 30px;
  padding-right: 30px;
}

.wrap {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}

.wrap.cc-menu {
  z-index: 900;
  grid-column-gap: 20px;
  grid-row-gap: 16px;
  background-color: #0000;
  grid-template-rows: auto auto;
  grid-template-columns: 4fr 1fr;
  justify-content: flex-start;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
}

.wrap.cc-subscribe-form {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.wrap.cc-styleguide-wrap {
  box-shadow: none;
  text-align: center;
  background-color: #fff;
  border: 1px solid #d2d2d580;
  padding: 60px 60px 35px;
}

.wrap.cc-blog-detail {
  width: 100%;
  max-width: 1000px;
  padding-left: 30px;
  padding-right: 30px;
}

.menu {
  box-shadow: none;
  line-height: 10px;
}

.nav-menu {
  flex: 1;
  justify-content: center;
  display: flex;
}

.brand {
  border-bottom-style: none;
  transition: opacity 0.4s;
}

.brand:hover {
  opacity: 0.8;
}

.about-head-pic {
  background-image: url('../images/fake-gaeg.jpeg');
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: 320px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.page-headline-wrap {
  text-align: center;
  width: 70%;
  margin: 100px auto;
  display: block;
}

.page-headline-wrap.cc-overlayed-headline {
  width: 60%;
  margin-top: 0;
  margin-bottom: 100px;
}

.page-headline-wrap.cc-overlayed-headline.cc-white-headline {
  color: #fff;
}

.page-headline-wrap.cc-category-blog-headline {
  text-align: left;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
  margin: 80px 0 70px;
  display: block;
}

.page-headline-wrap.cc-category-headline {
  text-align: center;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.big-paragraph {
  color: #1d1f2eb3;
  font-size: 18px;
  line-height: 30px;
}

.big-paragraph.cc-cover-paragraph {
  opacity: 0.9;
  color: #fff;
  align-self: start;
  margin-bottom: 30px;
}

.content-wrap {
  text-align: center;
  width: 70%;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.subheadline-wrap {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  display: flex;
}

.subheadline-wrap.cc-separate-subheadline {
  margin-bottom: 100px;
}

.subheadline-deco-line {
  background-color: var(--line-colour);
  width: 30px;
  height: 1px;
  display: inline-block;
}

.soin-image {
  background-image: url('../images/istockphoto-1409475645-1024x1024.jpg');
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 380px;
}

.soin-image-section-wrap {
  grid-column-gap: 20px;
  grid-template-rows: auto;
  align-items: center;
  margin-bottom: 130px;
}

.soin-section-1 {
  padding-left: 60px;
}

.soin-section-2 {
  padding-right: 60px;
}

.soin-image-2 {
  background-image: url('../images/istockphoto-829429098-1024x1024.jpg');
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 380px;
}

._3-col-wrap {
  margin-bottom: 80px;
}

.team-picture {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50%;
  background-size: cover;
  width: 300px;
  height: 380px;
  margin-bottom: 25px;
  display: block;
}

.product-pic-wrap {
  text-align: center;
  flex-direction: column;
  flex: 0 auto;
  align-items: center;
  width: 33%;
  margin-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}

.products-grid {
  flex-flow: wrap;
  place-content: flex-start center;
  align-items: flex-start;
  margin: 0 -10px;
  display: flex;
}

.subscribe-headline {
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 50px;
}

.form {
  justify-content: center;
  align-items: center;
  display: flex;
}

.form-block {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.footer {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto auto;
  grid-template-columns: 4fr 2fr 2fr 4fr;
  place-items: start;
  width: 940px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.footer-link {
  color: #1d1f2eb3;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 22px;
}

.footer-link:hover {
  color: #a25f4b;
}

.footer-grid-column {
  flex-direction: column;
  align-self: end;
  display: flex;
}

.footer-email-link {
  color: var(--basic-dark-colour);
  align-self: auto;
  font-size: 24px;
  line-height: 36px;
}

.footer-email-link:hover {
  color: #a25f4b;
}

.subscribe-wrap {
  background-color: var(--basic-dark-colour);
  color: #fff;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  min-width: 880px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 100px 85px;
  display: flex;
}

.pic-description {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.pic-description.cc-product-category {
  color: var(--basic-dark-colour);
  margin-bottom: 5px;
  display: inline-block;
}

.product-price-category {
  color: #1d1f2eb3;
  display: inline-block;
}

.product-price-category.older-price-category {
  color: #1d1f2e66;
  text-decoration: line-through;
}

.category-tag {
  z-index: 80;
  background-color: #fff;
  margin-top: 10px;
  margin-right: 10px;
  padding: 6px 15px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}

.category-tag-text {
  color: var(--brown-main);
  font-weight: 700;
}

.category-tag-text.cc-new {
  color: var(--basic-dark-colour);
}

.discounted-price-category {
  color: var(--brown-main);
  margin-right: 10px;
  font-size: 20px;
  line-height: 32px;
  display: inline-block;
}

.category-price-wrap {
  justify-content: center;
  align-items: baseline;
  min-height: 42px;
  display: inline-block;
}

.left-arrow {
  opacity: 0.3;
  justify-content: center;
  align-items: center;
  margin-left: -80px;
  transition: opacity 0.4s;
  display: flex;
}

.left-arrow:hover {
  opacity: 1;
}

.left-arrow:active {
  opacity: 0.8;
}

.right-arrow {
  opacity: 0.3;
  justify-content: center;
  align-items: center;
  margin-right: -80px;
  transition: opacity 0.4s;
  display: flex;
}

.right-arrow:hover {
  opacity: 1;
}

.right-arrow:active {
  opacity: 0.8;
}

.slider {
  background-color: #0000;
  height: auto;
  margin-bottom: 160px;
}

.slide-nav {
  opacity: 0.6;
  margin-bottom: -60px;
  font-size: 6px;
  display: inline-block;
}

.slide-wrap {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.slider-text-wrap {
  width: 460px;
  padding-left: 60px;
}

.product-image {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50%;
  background-size: cover;
  width: 460px;
  height: 460px;
  margin-right: 20px;
  position: relative;
}

.product-head-section {
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
}

.product-main-details {
  width: 460px;
  padding-left: 60px;
}

.link-wrap-category {
  margin-bottom: 25px;
  position: relative;
}

.link-wrap-category.cc-blog-feed-wrap {
  margin-bottom: 0;
}

.product-price-wrap {
  margin-top: 30px;
  margin-bottom: 30px;
}

.discounted-price-product {
  color: var(--brown-main);
  margin-right: 10px;
  font-size: 30px;
  line-height: 42px;
  display: inline-block;
}

.product-price-detail {
  font-size: 30px;
  line-height: 42px;
  display: inline-block;
}

.empty-cart-headline {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 32px;
}

.empty-cart-wrap {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
}

.empty-cart-icon {
  margin: 0 auto;
  display: block;
}

.error-state {
  text-align: center;
  background-color: #a25f4b;
  margin: -30px 40px 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.error-message {
  color: #fff;
  background-color: #a25f4b;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.success-message {
  background-color: #0000;
  padding: 0;
}

.newsletter-success-text {
  text-align: left;
  line-height: 24px;
  display: inline-block;
}

.newsletter-success-icon {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20px;
}

.success-message-wrap {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.logo-image {
  margin-top: 0;
  margin-bottom: 0;
}

.logo-image.cc-blog-about {
  margin-bottom: 15px;
}

.slider-deco-line {
  background-color: var(--line-colour);
  width: 30px;
  height: 1px;
  margin-bottom: 15px;
  display: inline-block;
}

.slide-image {
  background-image: url('../images/About-Image-1.jpg');
  background-position: 50%;
  background-size: cover;
  width: 460px;
  height: 380px;
}

.slide-image.cc-slider-image-2 {
  background-image: url('../images/About-Image-2.jpg');
  height: 100%;
  min-height: 380px;
}

.premium-block {
  background-color: var(--basic-dark-colour);
  align-items: stretch;
  height: auto;
  margin-bottom: 150px;
  display: flex;
}

.premium-block-wrap {
  background-image: none;
  background-size: auto;
  width: 50%;
  padding-right: 10px;
  display: inline-block;
}

.premium-block-content-wrap {
  color: #fff;
  width: 470px;
  margin-top: 15px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 70px;
  display: inline-block;
}

.premium-image {
  background-image: url('../images/Section-Image.jpg');
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 460px;
}

.premium-content-headline {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.premium-content-span {
  font-weight: 400;
}

.premium-content-item {
  align-items: flex-start;
  margin-top: 15px;
  display: flex;
}

.premium-content-icon-wrap {
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 28px;
  margin-right: 20px;
  display: flex;
}

.premium-content-headline-wrap {
  margin-bottom: 30px;
}

.details-section {
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 120px;
  display: flex;
}

.product-details-wrap {
  width: 460px;
  margin-right: 20px;
}

.product-dimensions-wrap {
  width: 460px;
  padding-left: 60px;
}

.product-dimensions-list {
  list-style-type: disc;
}

.product-dimension-text-value {
  display: inline-block;
}

.product-dimension-text {
  opacity: 0.7;
  margin-right: 5px;
  display: inline-block;
}

.underlined-link {
  border-bottom: 2px solid #a25f4b33;
  transition: color 0.4s, border-color 0.4s;
  display: inline-block;
}

.underlined-link:hover {
  color: #743f2f;
  border-bottom-color: #a25f4bb3;
}

.underlined-link.cc-homepage-link {
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  display: block;
  position: relative;
}

.underlined-link.cc-author-link {
  margin-top: 10px;
  font-size: 14px;
  line-height: 22px;
}

.underlined-link.white-link {
  color: var(--white);
  border: 1px #fff;
  border-bottom: 1px solid #fff3;
  text-decoration: none;
  transition: color 0.4s, border-color 0.4s;
}

.underlined-link.white-link:hover {
  border-bottom-color: #fff;
}

.underlined-link.white-link.w--current {
  border-style: none none solid;
  border-color: var(--line-colour);
  pointer-events: auto;
  transition: color 0.4s, border-color 0.4s;
}

.underlined-link.white-link.w--current:hover {
  border-style: none none solid;
  border-width: 1px;
  border-color: var(--white);
}

.blog-picture {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg'),
    url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50%, 50%;
  background-size: cover, cover;
  width: 100%;
  height: 300px;
  display: block;
}

.blog-picture.cc-feed-blog-pic {
  background-position: 50%;
  background-size: cover;
  width: 260px;
  height: 210px;
}

.blog-thumbnail-subheadline {
  color: var(--basic-dark-colour);
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 32px;
  display: block;
}

.blog-pic-wrap {
  float: left;
  text-align: left;
  width: 300px;
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 0;
  padding-right: 0;
  display: block;
}

.parallax-section {
  background-image: url('../images/toa-heftiba-hBLf2nvp-Yc-unsplash.jpg');
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
  height: 340px;
  margin-bottom: 100px;
}

.parallax-section.cc-about-parallax {
  background-image: url('../images/brooke-lark-230509-unsplash.jpg');
  background-size: cover;
}

.feature-item {
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}

.featured-collection {
  flex-flow: wrap;
  place-content: flex-start center;
  align-items: flex-start;
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
}

.blog-articles-homepage {
  margin-bottom: 100px;
}

.featured-mugs {
  text-align: center;
  margin-bottom: 100px;
}

.footer-subheadline {
  justify-content: center;
  align-items: center;
  display: flex;
}

.collection-list-wrapper {
  text-align: center;
  margin-bottom: 100px;
}

.magazine-headline {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 36px;
  line-height: 50px;
}

.magazine-text-wrap {
  margin-bottom: 20px;
}

.magazine-small-image-1 {
  background-image: url('../images/Image-2.jpg');
  background-position: 50%;
  background-size: cover;
  width: 160px;
  height: 130px;
  margin-bottom: 20px;
}

.magazine-small-image-2 {
  background-image: url('../images/Image_1.jpg');
  background-position: 50%;
  background-size: cover;
  width: 160px;
  height: 130px;
}

.magazine-images-wrap {
  align-items: center;
  display: flex;
}

.header-image {
  background-color: #050827;
  justify-content: center;
  align-items: stretch;
  min-width: 880px;
  max-width: 1440px;
  min-height: 530px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.header-section {
  margin-bottom: 100px;
  padding-left: 30px;
  padding-right: 30px;
}

.header-content {
  color: #fff;
  background-image: linear-gradient(#05082766, #05082766),
    url('../images/istockphoto-1357320952-1024x1024.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  align-items: center;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.header-text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.header-headline {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 48px;
  line-height: 60px;
}

.header-headline-wrap {
  margin-bottom: 25px;
}

.magazine-image {
  background-image: url('../images/Image.jpg');
  background-position: 50%;
  background-size: cover;
  width: 280px;
  height: 280px;
  margin-right: 20px;
}

.magazine-section {
  grid-column-gap: 20px;
  grid-template-rows: auto;
  align-items: center;
  margin-bottom: 130px;
}

.office-image {
  background-image: url('../images/atikah-akhtar-6xlyKFFvufg-unsplash.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  width: 300px;
  height: 380px;
  margin-bottom: 40px;
}

.office-image.cc-office-2 {
  background-image: url('../images/visualsofdana-IfsRTQu6Djk-unsplash.jpg');
  background-position: 50% 74%;
}

.office-image.cc-office-3 {
  background-image: url('../images/Capture-d’écran-2024-01-30-à-23.40.14.png');
}

.office-headline {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 30px;
}

.map {
  margin-top: -60px;
  margin-bottom: 100px;
}

.embed-map {
  filter: grayscale();
  height: 440px;
}

.directory-grid {
  grid-column-gap: 20px;
  grid-row-gap: 15px;
  text-align: center;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 100px;
}

.department-headline {
  font-size: 18px;
  line-height: 30px;
}

.office-wrap {
  text-align: center;
  width: 33%;
  margin-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.contact-form-wrap {
  z-index: 10;
  background-color: #fff;
  border: 1px solid #d2d2d580;
  align-items: stretch;
  padding: 60px;
  display: flex;
  position: relative;
}

.contact-form-headline {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 30px;
}

.form-wrap {
  border-right: 1px solid #d2d2d54d;
  flex-direction: column;
  align-items: stretch;
  width: 65%;
  margin-right: 60px;
  padding-right: 60px;
}

.contact-form-info {
  margin-bottom: 40px;
}

.message-form {
  margin-bottom: 0;
}

.office-opening-times {
  text-align: center;
  justify-content: center;
}

.magazine-content-wrap {
  padding-left: 60px;
}

.subscribe-form-deco-line {
  background-color: #d2d2d51a;
  width: 30px;
  height: 1px;
  display: inline-block;
}

.deco-block {
  z-index: 0;
  background-color: #f6f6f6;
  min-width: 940px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 110px;
  display: block;
  position: relative;
  left: 0;
  right: 0;
}

.deco-block.styleguide-deco-block {
  background-color: #060628;
  background-image: url('../images/Header-Pic.jpg');
  background-position: 50%;
  background-size: cover;
}

.item-overlay {
  z-index: 30;
  opacity: 0;
  cursor: pointer;
  background-image: linear-gradient(#1d1f2e1a, #1d1f2e1a);
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  position: absolute;
}

.wrap-overlayed {
  z-index: 1;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}

.empty-message {
  color: #1d1f2e4d;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #0000;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}

.empty-message.cc-zero-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.collection-list-team-members,
.timeline-wrap,
.you-might-also-like-items {
  text-align: center;
}

.dark-button {
  z-index: 50;
  background-color: var(--basic-dark-colour);
  box-shadow: none;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 8px;
  justify-content: center;
  padding: 18px 24px;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
  transition: background-color 0.4s, opacity 0.4s, box-shadow 0.4s;
  display: inline-block;
  position: relative;
}

.dark-button:hover {
  opacity: 0.96;
  color: #fff;
  background-color: #2f3247;
  box-shadow: 0 3px 8px #1d1f2e26;
}

.dark-button.expand {
  display: block;
}

.styleguide-divider {
  border-top: 1px solid var(--line-colour);
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.contact-form-link {
  color: var(--basic-dark-colour);
  font-size: 18px;
  line-height: 30px;
}

.contact-form-link:hover {
  color: var(--brown-main);
}

.offices-wrap-2 {
  flex-flow: wrap;
  place-content: flex-start center;
  align-items: flex-start;
  margin-bottom: 50px;
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
}

.slide-content {
  margin-bottom: 20px;
}

.contact-form-success-message {
  border: 1px solid var(--line-colour);
  background-color: var(--light-grey);
}

.contact-form-success-icon {
  margin-top: 0;
  margin-bottom: 10px;
}

.rich-text-block {
  text-align: left;
}

.related-blog-detail-post-wrap {
  float: left;
  width: 50%;
  margin-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
}

.further-reading-wrap {
  margin-bottom: 40px;
}

.view-all-articles-wrap {
  justify-content: center;
  margin-bottom: 100px;
  display: flex;
}

.blog-category-headline {
  margin-bottom: 20px;
  font-size: 44px;
  line-height: 54px;
}

.blog-post-headline {
  width: 60%;
  margin-top: 80px;
}

.blog-post-cover-pic {
  z-index: 2;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50%;
  background-size: cover;
  width: 1440px;
  height: 650px;
  margin-bottom: -80px;
  position: relative;
  bottom: 150px;
  right: 1px;
}

.blog-content-wrap {
  border: 1px solid var(--line-colour);
  max-width: 1200px;
  margin: 250px auto 100px;
  padding-bottom: 100px;
  display: block;
  position: relative;
}

.blog-detail-content-deco-line {
  background-color: var(--line-colour);
  flex: 1;
  width: 100%;
  height: 1px;
  margin-left: 20px;
}

.blog-detail-date-wrap {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  display: flex;
}

.blog-detail-right-column {
  padding-left: 40px;
}

.grid {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr;
  position: relative;
}

.blog-detail-left-column {
  z-index: 10;
  flex-direction: column;
  display: flex;
  position: relative;
  top: -150px;
}

.author-wrap-blog-detail {
  border: 1px solid var(--line-colour);
  background-color: #fff;
  flex-direction: column;
  margin-bottom: 40px;
  padding: 40px;
  display: flex;
}

.breadcrumb-wrap {
  align-items: center;
  margin-bottom: 40px;
  display: flex;
}

.author-avatar-blog-detail {
  background-image: url('../images/Avatar-38.jpg');
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: 140px;
  margin-top: 21px;
  margin-bottom: 20px;
}

.text-block {
  margin-bottom: 15px;
}

._2-col-wrap {
  margin-bottom: 20px;
}

.owners-quote {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 130px;
  display: block;
}

.blog-feed {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.blog-post-feed-wrap {
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 50px;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.blog-feed-right-column {
  width: 600px;
  margin-right: 40px;
}

.blog-feed-content {
  padding-left: 40px;
  padding-right: 20px;
}

.blog-feed-wrap {
  align-items: flex-start;
  margin-bottom: 50px;
  display: flex;
}

.blog-feed-left-column {
  text-align: left;
  width: 300px;
}

.blog-home-headline-wrap {
  border-bottom: 1px solid var(--line-colour);
  margin-bottom: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.blog-home-headline-wrap.cc-left-column-headline,
.blog-home-left-column-content-wrap {
  margin-bottom: 30px;
}

.author-avatar-blog {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50%;
  background-size: cover;
  width: 60px;
  height: 60px;
  margin-right: 25px;
}

.home-blog-item {
  color: #1d1f2eb3;
  border-left: 2px solid #a25f4b33;
  align-items: center;
  margin-bottom: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  transition: color 0.4s, border 0.4s, background-color 0.4s;
  display: flex;
}

.home-blog-item:hover {
  border-left-color: var(--brown-main);
  color: var(--basic-dark-colour);
  background-color: #a25f4b0a;
}

.home-blog-item.w--current {
  color: #1d1f2ed9;
  border-left-color: #a25f4b66;
}

.out-of-stock-message {
  background-color: var(--basic-dark-colour);
  color: #fff;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.default-state {
  margin-bottom: 10px;
}

.blog-secondary-headline {
  margin-top: 15px;
  font-size: 22px;
  line-height: 32px;
}

.slider-image-wrap {
  width: 460px;
  position: relative;
}

.category-wrap {
  align-items: center;
  display: flex;
}

.category-deco-line {
  background-color: var(--line-colour);
  width: 30px;
  height: 1px;
  margin-right: 20px;
  display: inline-block;
}

.category-deco-line-right {
  background-color: var(--line-colour);
  width: 30px;
  height: 1px;
  margin-left: 20px;
  display: inline-block;
}

.breadcrumb-wrapper {
  border-top: 1px none var(--line-colour);
  border-bottom: 1px none var(--line-colour);
  justify-content: center;
  align-items: center;
  margin-top: -20px;
  margin-bottom: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
}

.slide1-product-slider {
  background-image: url('../images/About-Image-1.jpg');
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 380px;
}

.licence-item {
  align-items: center;
  padding: 32px;
  display: flex;
}

.licence-image {
  background-color: #1d1f2e;
  width: 170px;
}

.licence-item-info {
  text-align: left;
  flex: 1;
  padding-left: 32px;
}

.utility-page-wrap {
  background-image: linear-gradient(#00000080, #00000080),
    url('../images/Header-Pic.jpg');
  background-position: 0 0, 50% 100%;
  background-size: auto, cover;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  padding-top: 20vh;
  display: flex;
}

.utility-page-content {
  color: #fff;
  text-align: center;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  display: flex;
}

.licence-links {
  justify-content: space-between;
}

.divider {
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
}

.password-field {
  border: 1px solid var(--line-colour);
  background-color: #0000;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-container {
  margin-top: 50px;
}

.search {
  margin-bottom: 50px;
}

.paypal {
  margin-bottom: 8px;
}

.item-image,
.image-2 {
  margin-top: 0;
}

.add-to-cart {
  margin-top: 20px;
}

.pricing-overview {
  border-bottom: 1px solid #e4ebf3;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 30px 80px;
  display: flex;
  position: relative;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.centered-heading {
  text-align: center;
  margin-bottom: 16px;
}

.pricing-description {
  text-align: center;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.pricing-grid-2 {
  grid-column-gap: 64px;
  grid-row-gap: 50px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 50px;
  display: grid;
}

.pricing-card-three {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.pricing-image {
  object-fit: cover;
  width: 80px;
  height: 80px;
  margin-bottom: 16px;
}

.pricing-card-text {
  margin-bottom: 20px;
}

.text-link-arrow {
  color: #1a1b1f;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
}

.arrow-embed {
  margin-left: 2px;
  display: flex;
}

.pricing-grid-3 {
  grid-column-gap: 64px;
  grid-row-gap: 50px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 50px;
  display: grid;
}

@media screen and (max-width: 991px) {
  .cart-button {
    margin-right: 30px;
  }

  .item-count {
    margin-left: 0;
  }

  .cart-heading {
    font-weight: 700;
  }

  .cart-icon {
    margin-right: 4px;
  }

  .cart-item-remove-link {
    transition: color 0.4s;
  }

  .cart-item-remove-link:hover {
    color: #fffc;
  }

  .uppercase-text.cc-cart-label {
    display: none;
  }

  .label.cc-footer-section-headline {
    margin-bottom: 20px;
  }

  .label.cc-department-label {
    margin-bottom: 10px;
  }

  .paragraph {
    align-self: center;
  }

  .paragraph.cc-deparment-details {
    align-self: start;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .small-paragraph {
    margin-bottom: 5px;
  }

  .small-paragraph.cc-copyright-footer {
    align-self: end;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .menu-item-wrap {
    margin-right: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
  }

  .menu-item-deco-line {
    display: none;
  }

  .content {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    display: flex;
  }

  .content.cc-subscribe-form,
  .content.cc-deco-block-wrap,
  .content.cc-blog-wrap {
    padding-left: 0;
    padding-right: 0;
  }

  .wrap {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .wrap.cc-menu {
    justify-content: space-between;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .wrap.cc-subscribe-form {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .nav-menu {
    z-index: 2;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 1px 3px #1d1f2e0d;
  }

  .menu-button {
    opacity: 0.6;
    padding: 0;
    transition: opacity 0.4s;
  }

  .menu-button:hover {
    opacity: 1;
  }

  .menu-button:active {
    opacity: 0.8;
  }

  .menu-button.w--open {
    background-color: #0000;
    align-items: center;
    display: block;
  }

  .brand {
    flex: 1;
  }

  .about-head-pic {
    width: 100%;
  }

  .page-headline-wrap.cc-overlayed-headline {
    width: 80%;
  }

  .page-headline-wrap.cc-category-blog-headline,
  .page-headline-wrap.cc-category-headline {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .menu-icon {
    margin-top: -4px;
    margin-bottom: 0;
    display: inline-block;
  }

  .soin-image {
    min-height: none;
    background-position: 50%;
    width: 100%;
    height: 320px;
  }

  .soin-image-section-wrap {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-direction: column-reverse;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 80px;
    display: flex;
  }

  .soin-section-1 {
    text-align: center;
    padding-left: 0;
  }

  .soin-section-2 {
    text-align: center;
    padding-right: 0;
  }

  .soin-image-2 {
    min-height: none;
    width: 100%;
    height: 320px;
    margin-bottom: 30px;
  }

  .team-picture {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .product-pic-wrap {
    flex-direction: column;
    flex: 0 auto;
    align-items: stretch;
    width: 50%;
    margin-bottom: 50px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 4%;
    padding-right: 4%;
    display: flex;
  }

  .products-grid {
    text-align: center;
    flex-flow: wrap;
    place-content: flex-start center;
    align-items: flex-start;
    margin-left: 0;
    margin-right: 0;
    display: flex;
  }

  .footer {
    text-align: center;
    flex-direction: column;
    grid-template-rows: auto auto;
    align-items: center;
    width: 100%;
    display: flex;
  }

  .footer-grid-column {
    align-self: start;
    align-items: center;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .subscribe-wrap {
    flex-direction: column;
    align-items: center;
    min-width: auto;
    max-width: none;
    padding-left: 50px;
    padding-right: 50px;
    display: block;
  }

  .category-list {
    margin-right: -20px;
  }

  .category-item {
    margin-left: 0;
  }

  .product-picture {
    width: auto;
  }

  .product-picture.cc-featured-picture {
    width: 100%;
  }

  .left-arrow,
  .right-arrow {
    display: none;
  }

  .slider {
    height: 100%;
  }

  .slide-wrap {
    text-align: center;
    flex-direction: column;
  }

  .slider-text-wrap {
    width: auto;
    padding-left: 0;
  }

  .product-image {
    width: 100%;
    margin-bottom: 40px;
    margin-right: 0;
  }

  .product-head-section {
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 80px;
  }

  .product-main-details {
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    display: block;
  }

  .link-wrap-category {
    width: 100%;
  }

  .link-wrap-category.cc-blog-feed-wrap,
  .error-message {
    width: auto;
  }

  .logo-image.cc-footer-logo {
    margin-bottom: 10px;
  }

  .slide-image {
    background-position: 50%;
    width: 100%;
    height: 320px;
    margin-bottom: 30px;
  }

  .slide-image.cc-slider-image-2 {
    margin-bottom: 0;
  }

  .premium-block {
    flex-direction: column;
  }

  .premium-block-wrap {
    width: 100%;
    padding-right: 0;
  }

  .premium-block-content-wrap {
    text-align: center;
    width: 70%;
    margin: 40px auto;
    padding-left: 0;
    display: block;
  }

  .premium-image {
    height: auto;
    min-height: 280px;
  }

  .premium-content-item {
    flex-direction: column;
    align-items: center;
  }

  .premium-content-icon-wrap {
    margin-bottom: 15px;
    margin-right: 0;
  }

  .details-section {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product-details-wrap {
    width: 70%;
    margin-bottom: 50px;
    margin-right: 0;
  }

  .product-dimensions-wrap {
    width: 70%;
    padding-left: 0;
  }

  .product-dimensions-list {
    text-align: center;
    padding-left: 0;
    list-style-type: none;
  }

  .blog-picture {
    width: 100%;
  }

  .blog-pic-wrap {
    text-align: center;
    flex-direction: column;
    flex: 0 auto;
    align-items: flex-start;
    width: 50%;
    margin-bottom: 50px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 4%;
    padding-right: 4%;
    display: block;
    position: relative;
  }

  .feature-item {
    width: auto;
    margin-bottom: 50px;
  }

  .featured-collection {
    flex-direction: column;
    align-items: stretch;
  }

  .magazine-images-wrap {
    margin-bottom: 50px;
  }

  .header-image {
    justify-content: center;
    width: 100%;
    min-width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .header-section {
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    display: flex;
  }

  .header-content {
    text-align: center;
    flex-direction: row;
    width: auto;
    position: relative;
  }

  .header-text {
    z-index: 2;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
  }

  .magazine-image {
    background-position: 50%;
  }

  .magazine-section {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    text-align: center;
    flex-direction: column-reverse;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
    display: flex;
  }

  .office-image {
    background-position: 50%;
    width: 100%;
    height: 300px;
    margin-bottom: 40px;
  }

  .directory-grid {
    grid-column-gap: 20px;
    grid-row-gap: 15px;
    text-align: center;
    flex-flow: column;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    align-items: center;
    display: flex;
  }

  .department-headline {
    margin-bottom: 10px;
  }

  .office-wrap {
    width: auto;
    margin-bottom: 60px;
  }

  .contact-form-wrap {
    flex-direction: column;
    align-items: center;
  }

  .contact-form-headline {
    margin-bottom: 40px;
  }

  .form-wrap {
    text-align: center;
    border-bottom: 1px solid #d2d2d54d;
    border-right-style: none;
    width: auto;
    margin-bottom: 60px;
    margin-right: 0;
    padding-bottom: 60px;
    padding-right: 0;
  }

  .contact-details-wrap {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -40px;
    display: flex;
  }

  .magazine-content-wrap {
    padding-left: 0;
  }

  .deco-block {
    min-width: auto;
    max-width: none;
    padding-left: 30px;
    padding-right: 30px;
  }

  .wrap-overlayed {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .offices-wrap-2 {
    flex-direction: row;
    align-items: stretch;
  }

  .related-blog-detail-post-wrap {
    text-align: center;
    flex-direction: column;
    flex: 0 auto;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 50px;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    display: block;
    position: relative;
  }

  .blog-post-headline {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .blog-post-cover-pic {
    width: 100%;
    height: 450px;
    margin-bottom: 80px;
    position: static;
    left: -30px;
    right: -30px;
  }

  .blog-content-wrap {
    border-style: none;
    border-width: 0;
    width: auto;
    margin-top: 100px;
    padding-bottom: 0;
  }

  .blog-detail-right-column {
    width: 100%;
    margin-bottom: 50px;
    padding-left: 0;
  }

  .grid {
    flex-direction: column-reverse;
    display: flex;
  }

  .blog-detail-left-column {
    position: static;
  }

  .author-wrap-blog-detail {
    text-align: center;
  }

  .breadcrumb-wrap {
    text-align: center;
    justify-content: center;
  }

  .author-avatar-blog-detail {
    background-position: 50%;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .blog-feed-right-column {
    width: 100%;
  }

  .blog-feed-wrap {
    flex-direction: column;
  }

  .blog-feed-left-column {
    width: 100%;
  }

  .out-of-stock-message {
    width: auto;
  }

  .slider-image-wrap {
    width: 100%;
    margin-bottom: 30px;
  }

  .category-wrap {
    justify-content: center;
    width: 100%;
  }

  .category-deco-line,
  .category-deco-line-right {
    display: none;
  }

  .breadcrumb-wrapper {
    text-align: center;
    justify-content: center;
  }

  .slide1-product-slider {
    min-height: none;
    background-position: 50%;
    width: 100%;
    height: 320px;
  }

  .container {
    max-width: 728px;
  }

  .pricing-grid-2,
  .pricing-grid-3 {
    grid-column-gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  form {
    flex-direction: column;
    display: flex;
  }

  .cart-button {
    margin-right: 15px;
  }

  .text-field-dark.cc-subscribe-input {
    text-align: center;
    width: auto;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .label.cc-category-link,
  .label.cc-category-link.w--current {
    margin-bottom: 10px;
  }

  .text-field {
    text-align: center;
    width: auto;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .text-field::placeholder {
    text-align: center;
  }

  .text-field.cc-product-quantity {
    width: 100%;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .text-field.cc-textarea {
    margin-bottom: 20px;
  }

  .wrap {
    padding-left: 4%;
    padding-right: 4%;
  }

  .wrap.cc-menu {
    padding-left: 25px;
    padding-right: 25px;
  }

  .wrap.cc-styleguide-wrap {
    padding-left: 30px;
    padding-right: 30px;
  }

  .page-headline-wrap {
    width: 90%;
  }

  .page-headline-wrap.cc-overlayed-headline,
  .page-headline-wrap.cc-category-blog-headline,
  .page-headline-wrap.cc-category-headline {
    width: auto;
    max-width: none;
  }

  .content-wrap {
    width: 90%;
  }

  ._3-col-wrap {
    margin-bottom: 90px;
  }

  .team-picture {
    background-position: 50% 0;
  }

  .product-pic-wrap {
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
  }

  .timeline-event-wrap {
    width: 100%;
  }

  .form {
    flex-direction: column;
    align-items: stretch;
  }

  .subscribe-wrap {
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    padding-right: 40px;
  }

  .category-list {
    flex-direction: column;
    align-items: stretch;
    margin-right: 0;
    display: flex;
  }

  .category-item {
    margin-right: 0;
  }

  .product-picture.cc-featured-picture {
    height: 380px;
  }

  .product-main-details,
  .link-wrap-category.cc-blog-feed-wrap {
    width: 100%;
  }

  .error-message {
    font-size: 14px;
    line-height: 22px;
  }

  .premium-block-content-wrap {
    width: 100%;
    padding: 30px 4%;
  }

  .product-details-wrap,
  .product-dimensions-wrap {
    width: 100%;
  }

  .blog-picture.cc-feed-blog-pic {
    width: 100%;
    height: 300px;
  }

  .blog-pic-wrap {
    text-align: center;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
  }

  .magazine-small-image-1 {
    width: 50%;
    height: 200px;
    margin-bottom: 0;
    margin-right: 10px;
  }

  .magazine-small-image-2 {
    width: 50%;
    height: 200px;
    margin-left: 10px;
  }

  .magazine-images-wrap {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .header-image {
    min-width: auto;
  }

  .header-section {
    padding-left: 0;
    padding-right: 0;
  }

  .header-content {
    justify-content: center;
  }

  .magazine-image {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .magazine-small-images {
    align-items: center;
    width: 100%;
    display: flex;
  }

  .contact-form-wrap {
    padding: 40px;
  }

  .contact-details-wrap {
    margin-bottom: -30px;
  }

  .deco-block,
  .wrap-overlayed {
    padding-left: 4%;
    padding-right: 4%;
  }

  .offices-wrap-2 {
    flex-direction: row;
  }

  .contact-form {
    flex-direction: column;
    align-items: stretch;
    display: flex;
  }

  .related-blog-detail-post-wrap {
    text-align: center;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
  }

  .blog-category-headline {
    font-size: 36px;
    line-height: 48px;
  }

  .blog-post-headline {
    width: 100%;
  }

  .blog-post-feed-wrap {
    flex-direction: column;
    align-items: center;
  }

  .blog-feed-content {
    text-align: center;
    margin-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .blog-home-headline-wrap,
  .blog-home-headline-wrap.cc-left-column-headline,
  .blog-home-left-column-content-wrap {
    text-align: center;
  }

  .out-of-stock-message {
    font-size: 14px;
    line-height: 22px;
  }

  .category-wrap {
    flex-direction: column;
    align-items: stretch;
  }

  .pricing-overview {
    padding: 60px 15px;
  }
}

@media screen and (max-width: 479px) {
  .cart-container {
    min-width: 320px;
  }

  .cart-product-name {
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 24px;
  }

  .cart-product-price {
    font-size: 14px;
  }

  .wrap {
    padding-left: 4%;
    padding-right: 4%;
  }

  .team-picture {
    width: 100%;
  }

  .subscribe-wrap {
    padding-left: 20px;
    padding-right: 20px;
  }

  .product-image {
    height: 360px;
  }

  .error-state {
    font-size: 14px;
    line-height: 22px;
  }

  .magazine-small-image-1 {
    height: 130px;
    margin-right: 5px;
  }

  .magazine-small-image-2 {
    height: 130px;
    margin-left: 5px;
  }

  .magazine-image {
    margin-bottom: 10px;
  }

  .office-image {
    height: 190px;
  }

  .office-wrap {
    flex: 0 auto;
  }

  .contact-form-wrap {
    padding: 40px 30px;
  }

  .contact-details-wrap {
    margin-bottom: -30px;
  }

  .deco-block {
    padding-left: 0%;
    padding-right: 0%;
  }

  .deco-block.styleguide-deco-block,
  .wrap-overlayed {
    padding-left: 4%;
    padding-right: 4%;
  }

  .wrap-overlayed.checkout {
    padding-left: 0%;
    padding-right: 0%;
  }

  .offices-wrap-2 {
    flex-direction: row;
  }

  .blog-post-cover-pic {
    height: 300px;
  }

  .blog-home-headline-wrap {
    margin-bottom: 30px;
  }

  .licence-item {
    flex-direction: column;
  }

  .container {
    max-width: none;
  }

  .centered-heading {
    margin-bottom: 24px;
  }

  .pricing-grid-2,
  .pricing-grid-3 {
    grid-template-columns: 1fr;
  }
}

#w-node-abc99cec-23f3-aeac-d088-36a1b3651ddf-997bc8db {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-abc99cec-23f3-aeac-d088-36a1b3651de5-997bc8db,
#w-node-abc99cec-23f3-aeac-d088-36a1b3651de7-997bc8db {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-abc99cec-23f3-aeac-d088-36a1b3651de8-997bc8db {
  place-self: auto;
}

#w-node-abc99cec-23f3-aeac-d088-36a1b3651deb-997bc8db {
  place-self: start;
}

#w-node-abc99cec-23f3-aeac-d088-36a1b3651ded-997bc8db {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-b3231188-659a-a8dc-702f-055efdc9f2dc-997bc8db,
#w-node-b3231188-659a-a8dc-702f-055efdc9f2ec-997bc8db,
#w-node-b3231188-659a-a8dc-702f-055efdc9f2fc-997bc8db {
  place-self: start;
}

#w-node-_4c625f5d-597c-b93b-cc62-5e4ebf27d697-50f9fcff {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_4c625f5d-597c-b93b-cc62-5e4ebf27d698-50f9fcff {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-_4c625f5d-597c-b93b-cc62-5e4ebf27d69c-50f9fcff {
  grid-area: 1 / 2 / 2 / 3;
  align-self: center;
}

#w-node-_4c625f5d-597c-b93b-cc62-5e4ebf27d69e-50f9fcff {
  grid-area: 2 / 2 / 3 / 3;
  place-self: start stretch;
}

#w-node-_4c625f5d-597c-b93b-cc62-5e4ebf27d6a9-50f9fcff {
  grid-area: 1 / 3 / 2 / 4;
  align-self: center;
}

#w-node-_4c625f5d-597c-b93b-cc62-5e4ebf27d6ab-50f9fcff {
  grid-area: 2 / 3 / 3 / 4;
  place-self: start stretch;
}

#w-node-_4c625f5d-597c-b93b-cc62-5e4ebf27d6b4-50f9fcff {
  grid-area: 1 / 4 / 2 / 5;
  align-self: center;
}

#w-node-_4c625f5d-597c-b93b-cc62-5e4ebf27d6b6-50f9fcff {
  grid-area: 2 / 4 / 3 / 5;
  place-self: start stretch;
}

#w-node-e88a0756-985d-3e65-9a57-c269a2f6ad2b-a2f6ad2b {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-d4e19bf4-bc1c-72f0-9709-69acc0b170dd-997bc8e2 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-c8e83053-9e5e-a180-edb9-a2e44acf7822-997bc8e2,
#w-node-_30c7f8b5-ec83-d078-1d71-537e258acf30-997bc8e2,
#w-node-_09b21e9a-2831-d2c9-3650-615e7527cdbf-997bc8e2,
#w-node-_10ba0152-6a46-d064-c1b8-9e01279216ff-997bc8e2 {
  place-self: start;
}

#w-node-_1762614d-d59d-43e4-2c44-407a89693692-997bc8ed {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_1762614d-d59d-43e4-2c44-407a89693698-997bc8ed,
#w-node-_1762614d-d59d-43e4-2c44-407a8969369a-997bc8ed {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_1762614d-d59d-43e4-2c44-407a8969369b-997bc8ed {
  place-self: auto;
}

#w-node-_1762614d-d59d-43e4-2c44-407a8969369e-997bc8ed {
  place-self: start;
}

#w-node-_1762614d-d59d-43e4-2c44-407a896936a0-997bc8ed {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_0c80527e-177c-3e34-5901-bb2c897bd158-997bc8ed,
#w-node-_0c80527e-177c-3e34-5901-bb2c897bd162-997bc8ed,
#w-node-_0c80527e-177c-3e34-5901-bb2c897bd16c-997bc8ed,
#w-node-_059ecc28-2af0-0128-b796-88fbf83deed2-997bc8ed,
#w-node-_059ecc28-2af0-0128-b796-88fbf83deee2-997bc8ed {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 991px) {
  #w-node-abc99cec-23f3-aeac-d088-36a1b3651ddf-997bc8db {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-abc99cec-23f3-aeac-d088-36a1b3651de5-997bc8db {
    grid-area: 1 / 2 / 2 / 3;
  }

  #w-node-abc99cec-23f3-aeac-d088-36a1b3651de7-997bc8db,
  #w-node-_1762614d-d59d-43e4-2c44-407a89693692-997bc8ed {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-_1762614d-d59d-43e4-2c44-407a89693698-997bc8ed {
    grid-area: 1 / 2 / 2 / 3;
  }

  #w-node-_1762614d-d59d-43e4-2c44-407a8969369a-997bc8ed {
    grid-area: 1 / 1 / 2 / 2;
  }
}
